{% extends 'base.html' %}
{% block content %}
{% load widget_tweaks %}

<section class="container col-6" >
    <p>Data de pesquisa: {{ form.data_pesquisa.value }}</p>
    <p>Origem: {{ form.origem.value }}</p>
    <p>Destino: {{ form.destino.value }}</p>
    <p>Data da Ida: {{ form.data_ida.value }}</p>
    <p>Data da Volta: {{ form.data_volta.value }}</p>
    <p>Classe de vôo: {{ form.classe_viagem.value }}</p>
    <p>Informações Extras: {{ form.informacoes.value }}</p>
    <p>E-mail: {{ pessoa_form.email.value }}</p>
</section>
{% endblock %}
